{% extends "index.html" %}
{% block encabezado  %}
    {% include "encabezado.html" %}
{%endblock%}
{% block menu %}
    {% include "administrador/menu.html" %}
{%endblock%}
{% block contenido %}
<h3>GESTIONAR USUARIOS</h3>
    <table id="tblPersonas" class="table table-bordered table-hover dataTable_width_auto">
        <thead>
            <tr class="text-center verdeSena text-white">
                <th>Nombre Completo</th>
                <th>Correo Electronico</th>
                <th>Tipo</th>
                <th>Foto</th>

            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            {% if usuario.is_superuser is False%}
            <tr>
                <td>{{usuario.first_name }} {{usuario.last_name}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.userTpo}}</td>
                <td></td>
            </tr>
            {%endif%}
            {% endfor %}
        </tbody>

    </table>
{%endblock%}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock%}